
<nav class="navbar">
  <ul class="navbar-list">
    <a mat-button class="color-option" routerLink="">Home</a>
    <a mat-button class="color-option" routerLink="">About</a>
    <a mat-button class="color-option" routerLink="">Events</a>
    <a mat-button class="color-option" routerLink="">Contact</a>
    <a mat-button class="color-option" routerLink="">Login</a>
  </ul>
  <div class="contact-info">

  </div>
</nav>

<div id="container">
  <div class="loginButton">
    <mat-card-actions>
      <button mat-raised-button routerLink="" class="color-button">Menu</button>
    </mat-card-actions>
  </div>
</div>
