#container {
  width: 100%;
  height: 100vh; /* Adjust the height as per your design needs */
  background-image: url('../../../assets/images/background_image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* Full width of its parent */
  height: 92.5vh; /* Full viewport height */
  
}
.registerCard {
  width: 20%;

}
mat-card-actions button {

  color: white; /* White text */
  font-size: 18px; /* Increase font size */
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Rounded corners */
}
  mat-card-actions button:hover {
    background-color: #0000B9; /* Darker green on hover */

  }
