@page
@model CoffeeShopWebsite.Pages.CRUDFramework.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CustomerModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerModel.ID" />
            <div class="form-group">
                <label asp-for="CustomerModel.CustomerName" class="control-label"></label>
                <input asp-for="CustomerModel.CustomerName" class="form-control" />
                <span asp-validation-for="CustomerModel.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerModel.CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerModel.CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerModel.CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerModel.CustomerPhone" class="control-label"></label>
                <input asp-for="CustomerModel.CustomerPhone" class="form-control" />
                <span asp-validation-for="CustomerModel.CustomerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerModel.CustomerEmail" class="control-label"></label>
                <input asp-for="CustomerModel.CustomerEmail" class="form-control" />
                <span asp-validation-for="CustomerModel.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerModel.CustomerGender" class="control-label"></label>
                <input asp-for="CustomerModel.CustomerGender" class="form-control" />
                <span asp-validation-for="CustomerModel.CustomerGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerModel.CustomerDOB" class="control-label"></label>
                <input asp-for="CustomerModel.CustomerDOB" class="form-control" />
                <span asp-validation-for="CustomerModel.CustomerDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
