html,
body{
    height:100%;
    margin:0;
   
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  justify-content: space-between; /* Space out the left and right sections */
}
.navbar-list a {
  text-decoration: none;
  margin: 0 10px;
  color: #333333;
}

.menuButton {
  position: absolute;
  left: 20px;
  top: 70px;
}

.mat-mdc-raised-button.color-button {
  background-color: black;
  color: white;
}

.mat-mdc-button.color-option {
  color: black;
}
#container {
  position: relative; /* Ensure positioning context for absolute elements */
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url('../assets/images/background-image2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1; /* Lower than the menu button */
}
.navbar-left,
.navbar-right {
  display: flex;
}

/*
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 34px;
gap: 313px;
isolation: isolate;

position: absolute;
width: 1440px;
height: 86px;
left: 0px;
top: 0px;

/*
margin: 0 auto;
width: 72px;
height: 72px;

background: url();
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 30px 0px 30px 30px;
gap: 32px;
isolation: isolate;

margin: 0 auto;
width: 618px;
height: 86px;
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

position: absolute;
width: 86px;
height: 75px;
left: 15px;
top: 0px;

background: linear-gradient(93.99deg, rgba(223, 195, 157, 0.4) -9.94%, rgba(248, 228, 190, 0.4) 19.83%, rgba(223, 195, 157, 0.4) 50.71%, rgba(248, 228, 190, 0.4) 81.26%, rgba(248, 228, 190, 0.4) 111.66%);
backdrop-filter: blur(2px);
border-radius: 0px 0px 30px 30px;
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
margin: 0 auto;
width: 56px;
height: 26px;

font-family: 'Leiko';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
text-transform: capitalize;

color: #FFF8E8;
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
margin: 0 auto;
width: 54px;
height: 26px;

font-family: 'Leiko';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
text-transform: capitalize;

color: #FFF8E8;
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
margin: 0 auto;
width: 78px;
height: 26px;

font-family: 'Leiko';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
text-transform: capitalize;

color: #FFF8E8;
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;
margin: 0 auto;
width: 75px;
height: 26px;

font-family: 'Leiko';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
text-transform: capitalize;

color: #FFF8E8;
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;
margin: 0 auto;
width: 41px;
height: 26px;

font-family: 'Leiko';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;

text-transform: capitalize;

color: #FFF8E8;
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;
margin: 0 auto;
width: 74px;
height: 26px;

font-family: 'Leiko';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
text-transform: capitalize;

color: #FFF8E8;

flex: none;
order: 6;
flex-grow: 0;
z-index: 6;

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 7px;

position: absolute;
width: 55px;
height: 24px;
left: 715px;
top: 31px;

flex: none;
order: 2;
flex-grow: 0;
z-index: 2;

width: 24px;
height: 24px;

flex: none;
order: 0;
flex-grow: 0;

position: absolute;
left: 16.67%;
right: 20.83%;
top: 20.83%;
bottom: 16.67%;

background: #F8E4BE;

width: 24px;
height: 24px;

flex: none;
order: 1;
flex-grow: 0;

position: absolute;
left: 3.91%;
right: 13.29%;
top: 7.03%;
bottom: 10.13%;

background: #F8E4BE;
*/
