<!--Insert router-outlet to view the other components-->
<a mat-button class="color-option" routerLink="/about">Test</a>
<main>
  <router-outlet></router-outlet>
</main>

<nav class="navbar">
  <ul class="navbar-list">
    <div class="navbar-left">
    <a mat-button class="color-option" routerLink="/home">Home</a>
    <a mat-button class="color-option" routerLink="/about">About</a>
    <a mat-button class="color-option" routerLink="/events">Events</a>
    <a mat-button class="color-option" routerLink="/contact">Contact</a>
    </div>
    <div class="navbar-right">
      <a mat-button
         *ngIf="!checkLogin()"
         class="color-option"
         routerLink="/login">Login</a>
      <a mat-button
         *ngIf="checkLogin()"
         class="color-option"
         (click)="checkLogout()">Logout</a>
      <a mat-button class="color-option" routerLink="/customer-info">Profile</a>
      
    </div>
  </ul>
  <div class="contact-info">
  </div>
  <div id="container">
  </div>
</nav>
