.example-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.LoginCard {
  width: 300px;
  text-align: center;
}

.emailDiv, .passwordDiv {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

.mat-card-actions {
  justify-content: center;
  margin-top: 20px;

}

button {
  min-width: 100px;
  text-align:center;
  margin:25px;
}
