

/* Container styles */


/* Form styles */
.example-form {
  position: absolute; /* Position absolutely relative to #container */
  top: 50%; /* Example centering vertically */
  left: 50%; /* Example centering horizontally */
  transform: translate(-50%, -50%);
  max-width: 100%; /* Adjust width as needed */
  padding: 20px;
  z-index:1;
}


.emailDiv, .passwordDiv {
  margin-bottom: 20px;
}



button {
  min-width: 100px;
  text-align: center;
  margin: 15px;
}

