
<nav class="navbar">
  <div class="contact-info">
  </div>
  <div id="container">
    <form class="example-form" (ngSubmit)="onLogin()"> <!-- When submit, call the method called onLogin()-->

      <mat-card class="LoginCard" appearance="outlined">

        <mat-card-content>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <div class="emailDiv">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <!-- value is binded to the ngModel called "email" -->
              <input type="email"
                     placeholder="Type your email"
                     name="emailInput"
                     [(ngModel)]="email"
                     matInput
                     [formControl]="emailFormControl"> <!--Form control is a built in function that error checks for emails and password-->
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">Please enter a valid email address</mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">Email is required</mat-error>
            </mat-form-field>
          </div>
          <div class="passwordDiv">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password"
                     placeholder="Type your password"
                     name="passwordInput"
                     [(ngModel)]="password" 
                     matInput
                     [formControl]="passwordFormControl">
              <mat-error *ngIf="passwordFormControl.hasError('required')">Password is required</mat-error>
            </mat-form-field>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Login</button>
          <a mat-button color="primary" routerLink="/register">Register</a>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</nav>
