/* Container styles */
#container {
  position: relative; /* Ensure positioning context for absolute elements */
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url('../../../assets/images/background_image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  position: fixed; /* Fixed position to stay at the top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Example background color */
  z-index: 1000; /* Ensure it's above other content */
}

.navbar-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

  .navbar-list a {
    text-decoration: none;
    margin: 0 10px;
    color: #333333; /* Example text color */
  }

mat-grid-tile {
  background: lightblue;
}
