<!-- src/app/components/customer/customer.component.html -->

<div class="container">
  <h1 class="display-4">Customer</h1>
  <div class="card" *ngIf="customer">
    <div class="card-body">
      <p class="card-text">Customer information</p>
      <p class="card-text">Customer ID: {{customer.customer_id}}</p>
      <p class="card-text">Customer First Name: {{customer.first_name}}</p>
      <p class="card-text">Customer Last Name: {{customer.last_name}}</p>
      <p class="card-text">Customer Email: {{customer.customer_email}}</p>
      <p class="card-text">Customer Password: {{customer.customer_password}}</p>
    </div>
  </div>
</div>
